{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}EcoAlchemy - Create Consultation Case{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Create New Consultation Case</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Create Case</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}